<%- include('include/header') %>

<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
      <% if (messages.error) { %>
      <p style="color: red"><%- messages.error %></p>
      <% } %> <% if (messages.success) { %>
      <p style="color: green"><%- messages.success %></p>
      <% } %>
  </div>
  <div class="col-md-4">
  </div>
</div>

<div class="container">
  <div class="card border border-dark" style="margin-top: 80px">
    <div class="card-body">
      <div class="col-sm-12">
        <table id="example" class="table table-striped" style="width: 100%">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Project Name</th>
              <th>Site Link</th>
              <th>Email / Username</th>
              <th>Password</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% rows.forEach(element => { %>
            <tr>
              <td>#</td>
              <td><h6><%= element.projectName %></h6></td>
              <td>
                  <div class="input-group flex-nowrap">
                    <input type="text" id="c<%= element.id %>" value="<%= element.site_link %>" class="form-control" />
                    <button type="button" title="click to copy" onclick="copyfunction('c<%= element.id %>')" class="input-group-text btn btn-sm btn-light">C</button>
                  </div>
              </td>
              <td>
                <div class="input-group flex-nowrap">
                  <input type="password" id="e<%= element.id %>" value="<%= element.username %>" class="form-control" />
                  <button type="button" title="click to copy" onclick="copyfunction('e<%= element.id %>')" class="input-group-text btn btn-sm btn-light">C</button>
                </div>
            </td>
            <td>
                <div class="input-group flex-nowrap">
                  <input type="password" id="p<%= element.id %>" value="<%= element.password %>" class="form-control" />
                  <button type="button" title="click to copy" onclick="copyfunction('p<%= element.id %>')" class="input-group-text btn btn-sm btn-light">C</button>
                </div>

            </td>

              <td>
                <a href="/edit/<%= element.id %>" class="btn btn-success btn-floating"><i class="fas fa-edit"></i></a>

                <a href="/delete/<%= element.id %>" onclick="return confirm('Are You Sure To Delete <%= element.projectName  %> ?')" class="btn btn-danger btn-floating"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('include/footer') %>
<script>

function copyfunction(id){
    var copyText = document.getElementById(id);
    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* For mobile devices */
    /* Copy the text inside the text field */
    navigator.clipboard.writeText(copyText.value);
}
</script>
